@import "~minx/src/settings", "~minx/src/functions", "~minx/src/mixins";

.sign-in {
  margin-top: 90px;
  max-width: 300px;
}

.sign-in__heading {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.sign-in__button {
  @include button-base;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 0;
  width: 100%;
  height: 48px;
  font-family: inherit;
  font-size: rem(18px);
  line-height: 48px;
  color: #999;
  background: transparent;

  &:hover {
    border: 2px solid rgb(116, 113, 113);
    line-height: 46px;
    background-color: rgb(154, 154, 173);
    color: black;
    //border-color: #aaa;
  }
}
